@import 'variables';
@import 'mixins';

// include all needed keyframes
@include notification-keyframes('top');
@include notification-keyframes('bottom');
@include notification-keyframes('left');
@include notification-keyframes('right');
@include notification-keyframes('top', 0);

// rotating animation for loading status
@keyframes :local(rotating) {
    from {
        transform:         rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform:    rotate(0deg);
    }
    to {
        transform:         rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform:    rotate(360deg);
    }
}

// NotificationSystem component
.notifications-system {
}

// NotificationContainer component
:local .notifications-container {
    position: fixed;
    z-index:  99999;
}

// for small to large screens, container position and notification animation is
// different depending on container position
:local .notifications-container {
    // change style of buttons depending of the notification position
    &--tc,
    &--tr,
    &--tl,
    &--bc,
    &--br,
    &--bl {
        width: $notification-max-width;
        .notification {
            &--buttons-1 .notification-button {
                height: 100%;
            }
            &--buttons-2 .notification-button {
                height: 50%;
            }
            &-buttons {
                width: $notification-button-width;

                .notification-button {
                    display: block;
                    width:   $notification-button-width;

                    &:nth-child(2) {
                        border-top: 1px solid rgba(0, 0, 0, 0.09);
                    }
                }
            }
        }
    }
    &--b,
    &--t {
        .notification {
            &--buttons-1 {
                .notification-buttons {
                    width: $notification-button-width;
                }
            }
            &--buttons-2 {
                .notification-meta {
                    width: calc(100% - #{$notification-button-width} * 2)
                }
                .notification-buttons {
                    width: calc(#{$notification-button-width} * 2);
                }
            }
            &-buttons {
                .notification-button {
                    float:  left;
                    width:  $notification-button-width;
                    height: 100%;
                }
            }
        }
    }

    // animations depending of the notification position
    &--t {
        width: calc(100% - 40px);
        top:   $window-padding;
        left:  $window-padding;
        @include notification-animation('top');
    }
    &--tc {
        top:       $window-padding;
        left:      50%;
        transform: translateX(-50%);
        @include notification-animation('top');
    }
    &--tr {
        top:   $window-padding;
        right: $window-padding;
        @include notification-animation('right');
    }
    &--tl {
        top:  $window-padding;
        left: $window-padding;
        @include notification-animation('left');
    }
    &--b {
        width:  calc(100% - 40px);
        bottom: 0;
        left:   $window-padding;
        @include notification-animation('bottom');
    }
    &--bc {
        bottom:    0;
        left:      50%;
        transform: translateX(-50%);
        @include notification-animation('bottom');
    }
    &--br {
        bottom: 0;
        right:  $window-padding;
        @include notification-animation('right');
    }
    &--bl {
        bottom: 0;
        left:   $window-padding;
        @include notification-animation('left');
    }
}

// put all notifications at the top of the screen
@media (max-width: #{$screen-xs-max}) {
    :local .notifications-container {
        &--t {
            width: 100%;
            top:   0;
            left:  0;
            @include notification-animation('top', 0);

            .notification-wrapper {
                margin:        0;
                border-radius: 0;
            }
        }
    }
}

// Notification component
:local .notification {
    display:    table;
    width:      100%;
    height:     100%;
    min-height: 40px;
    position:   relative;
    border:     none;
    z-index:    999;
    padding:    0;
    transition: all .4s ease;

    &-wrapper {
        display:       block;
        width:         100%;
        height:        100%;
        margin-bottom: $window-padding;
    }
    &-image-container {
        display:    table-cell;
        box-sizing: border-box;
        padding:    15px 0 15px 15px;
    }
    &-image {
        display:         inline-block;
        vertical-align:  top;
        border-radius:   40px;
        width:           40px;
        height:          40px;
        background-size: cover;
    }
    &-icon {
        display:    inline-block;
        box-sizing: border-box;
        margin:     10px 0 10px 15px;
        // override font-size of `fa` class
        font-size:  20px !important;
    }
    &-meta {
        display:        table-cell;
        vertical-align: top;
        box-sizing:     border-box;
        width:          100%;
        padding:        10px 20px;
    }
    &-close-button-container {
        display:    table-cell;
        // Ajust close button position
        padding:    9px 15px;
        box-sizing: border-box;
    }
    &-close-button {
        font-size:   21px;
        font-weight: bold;
        text-shadow: #ffffff 0 1px 0;
        opacity:     0.2;
        cursor:      pointer;

        &:before {
            content: $notification-close-button;
        }
        &:hover {
            opacity: 0.8;
        }
    }

    // global style for buttons
    &-buttons {
        display:        table-cell;
        box-sizing:     border-box;
        height:         100%;
        vertical-align: top;

        .notification-button {
            min-height: 40px;
            box-sizing: border-box;
            padding:    0;
            background: none;
            outline:    none;
            text-align: center;
            cursor:     pointer;

            &-text {
                display:       block;
                height:        25px;
                // width of a button with 10px of padding
                width:         70px;
                white-space:   nowrap;
                overflow:      hidden;
                margin:        0 auto;
                text-overflow: ellipsis;
                text-align:    center;
                font-size:     14px;
                line-height:   25px;
            }
        }
    }
    &-title {
        margin:      0 0 10px;
        font-size:   15px;
        font-weight: 700;
    }
    &-message {
        margin: 0;
    }
    &--dismissible {
        cursor: pointer;
    }
    // color variants
    &--default {
        @include notification-variant($notification-default-bg, $notification-default-border, $notification-default-color);
    }
    &--success {
        @include notification-variant($notification-success-bg, $notification-success-border, $notification-success-color, $notification-success-icon);
    }
    &--info {
        @include notification-variant($notification-info-bg, $notification-info-border, $notification-info-color, $notification-info-icon);
    }
    &--warning {
        @include notification-variant($notification-warning-bg, $notification-warning-border, $notification-warning-color, $notification-warning-icon);
    }
    &--error {
        @include notification-variant($notification-error-bg, $notification-error-border, $notification-error-color, $notification-error-icon);
    }
    &--loading {
        // infinite rotating animation
        .notification-icon {
            -webkit-animation: rotating 2s infinite linear;
            animation:         rotating 2s infinite linear;
        }
        @include notification-variant($notification-loading-bg, $notification-loading-border, $notification-loading-color, $notification-loading-icon);
    }
}
